@model CurrencyViewModel

<label asp-for="Value"></label>
<div class="input-group">
    <input asp-for="Value" class="form-control" />
    <div class="input-group-append">
        <span class="input-group-text">@Model.Currency</span>
        <input asp-for="Currency" type="hidden" />
    </div>
</div>