@using CLSoft.MyWallet.Models.Transactions
@model TransactionType

<div class="form-check form-check-inline">
    <label class="form-check-label">
        @Html.RadioButtonFor(m => m, TransactionType.Debit, new { @class = "form-check-input" }) Debit
    </label>
</div>
<div class="form-check form-check-inline">
    <label class="form-check-label">
        @Html.RadioButtonFor(m => m, TransactionType.Credit, new { @class = "form-check-input" }) Credit
    </label>
</div>