@using CLSoft.MyWallet.Models.Transactions
@model TransactionType

<div class="form-check">
    @Html.CheckBox("", Model.Equals(TransactionType.Debit))
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
    </label>
</div>