@using CLSoft.MyWallet.Models.Home
@model OneSelectedWalletViewModel

@if (Model != null)
{
    @Html.DisplayFor(m => m.SelectedWallet)
    @Html.DisplayFor(m => m.OtherWallets)
    <a asp-controller="Home" asp-action="Index">Select all wallets</a>
}