@using CLSoft.MyWallet.Models.Wallets
@model WalletViewModel

@{
    ViewData["Title"] = "Edit wallet";
}

<form asp-controller="Wallets" asp-action="Edit" asp-route-walletId="@Context.Request.Query["walletId"]" method="post">
    <h2>Edit wallet</h2>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" autofocus />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" autocomplete="on" />
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.Amount)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section scripts {
    <script src="~/js/validation.min.js"></script>
}