@using CLSoft.MyWallet.Models.Auth
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change password";
}

<form asp-controller="Auth" asp-action="ChangePassword" method="post">
    <h2>Change password</h2>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RepeatPassword"></label>
        <input asp-for="RepeatPassword" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Change</button>
</form>

@section scripts {
    <script src="~/js/validation.min.js"></script>
}