@using CLSoft.MyWallet.Models.Auth
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot password";
    Layout = "_NotLoggedInLayout";
}

<form asp-controller="Auth" asp-action="ForgotPassword">
    <h2>Forgot password, huh?</h2>

    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" aria-describedby="email-help" />
        <small id="email-help" class="form-text text-muted">Please, at least tell me you haven't forgotten your email. Please!</small>
    </div>

    <button type="submit" class="btn btn-primary">Send request</button>
</form>

@section scripts {
    <script src="~/js/validation.min.js"></script>
}