
@{
    ViewData["Title"] = "Password reset";
    Layout = "_NotLoggedInLayout";
}

<h2>Password reset</h2>

<p>Your password has been reset. Should we try <a asp-controller="Auth" asp-action="Login" class="btn btn-link">to login?</a></p>