@using CLSoft.MyWallet.Models.Auth
@model RegisterUserViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_NotLoggedInLayout";
}

<form asp-controller="Auth" asp-action="Register" method="post">
    <h2>Register</h2>

    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" autocomplete="on" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RepeatPassword"></label>
        <input asp-for="RepeatPassword" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" autocomplete="on" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" autocomplete="on" />
    </div>

    <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>

@section scripts {
    <script src="~/js/validation.min.js"></script>
}