@using CLSoft.MyWallet.Models.Auth
@model RegisterUserViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_NotLoggedInLayout";
}

<form asp-controller="Auth" asp-action="Register" method="post">
    <h2>Register</h2>

    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" autocomplete="on" autofocus />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RepeatPassword"></label>
        <input asp-for="RepeatPassword" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" autocomplete="on" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" autocomplete="on" />
    </div>

    <fieldset>
        <legend>Wallet</legend>
        <p>Let's start by registering a money account you want to monitor: that's a <strong>wallet</strong>! We suggest you start with the "cash" suggestion, but - if you <i>are</i> fancy enough - why don't you try with your bank account?</p>

        <div class="form-group">
            <label asp-for="StartWallet.Name"></label>
            <input asp-for="StartWallet.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="StartWallet.Description"></label>
            <input asp-for="StartWallet.Description" class="form-control" autocomplete="on" />
        </div>

        <div class="form-group">
            @Html.EditorFor(m => m.StartWallet.Amount)
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>

@section scripts {
    <script src="~/js/validation.min.js"></script>
}